
:root {
  --sd-misc-bsc: #818181;
}

.dark {
  --sd-misc-bsc: var(--block-border-color);
}

#tab_txt2img #txt2img_script_container div.block.gradio-accordion,
#tab_img2img #img2img_script_container div.block.gradio-accordion {
  border: 0 !important;
  box-shadow: 0 0 1px 1px var(--sd-misc-bsc);
  transition: box-shadow .1s ease;
}

#tab_txt2img #txt2img_script_container div.block.gradio-accordion.T,
#tab_img2img #img2img_script_container div.block.gradio-accordion.T {
  box-shadow: 0 0 1px 1px var(--primary-400), inset 0 0 7px 0 var(--primary-400), 0 0 7px 0 var(--primary-400);
}